.centerBlockOuter {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.centerBlockInner {
  width: 500px;
}

@media screen and (max-width: 500px) {
  .centerBlockInner {
    margin: 10px 0 0 0;
  }
}