.mapImg {
  width: 100%;
  height: 185px;
  border-radius: 6px;
  border: 1px solid var(--border);
  box-sizing: border-box;
  display: block;
  margin: 0 0 10px 0;
  background-color: var(--lightGrey);
}

@media screen and (max-width: 900px) {
  .mapImg {
    height: auto;
  }
}
