.listItem {
  display: flex;
  margin: 20px 0 0 0;
}

.contentIcon {
  flex: none;
  margin: 0 20px 0 0;
  width: 32px;
  fill: var(--fill);
}

@media screen and (max-width: 575px) {
  .contentIcon {
    flex: none;
    margin: 0 18px 0 0;
    width: 28px !important;
  }
}
